@import '../../../common/stylus/mixin.styl';
.service-info
    .sliderWrapp
        // margin-bottom .5rem
    .disc
        li
            borderTop(1px,#e6e6e6)
            display flex
            justify-content space-between
            padding .3rem .25rem
            font-size .28rem
            color #5d5d5d
            .th
                color #a0a0a0
                width 1.6rem
            .td
                flex 1
                text-align right
.service-handle
    padding .5rem .3rem .7rem
    .agreement
        text-align center
        font-size .26rem
        color #999
        a
            color #007eff
    .btn-primary
        background-color #00af6c
        margin-top .3rem
