@import '../../../common/stylus/mixin.styl';
.member-info
    text-align center
    padding .4rem
    font-size .26rem
    line-height 1.6
    color #999
    .avatar
        width 1.9rem
        height 1.9rem
        margin 0 auto
        img
            width 1.9rem
            height 1.9rem
            border-radius 50%
            border .1rem solid #f2f2f2
    .name
        color #333
        font-size .3rem
        margin .1rem 0 .05rem
.userfull-link
    display flex
    a
        display block
        flex 1
        text-align center
        padding .3rem 0
        .icon
            display inline-block
            width .8rem
            height .8rem
            padding-top .12rem
            border-radius 50%
            color #FFF
            font-size .5rem
        .icon-jifen
            background-color #ff8820
        .icon-wodeziliao
            background-color #ef6548
        .icon-yinxing-copy
            background-color #7687f1
        .icon-fuwu
            background-color #68ccec
        p
            font-size .3rem
            color #444
            margin-top .2rem

