@import '../../../common/stylus/mixin.styl';
.fuwu-list
    .item
        borderTop(1px,#e6e6e6)
        display flex
        padding .3rem .25rem
        font-size .34rem
        color #5d5d5d
        .avatar
            width 1.15rem
            height 1.15rem
            img
                width 1.15rem
                height 1.15rem
                border-radius 3px
        .info
            position relative
            flex 1
            margin 0 .25rem
            .t
                display flex
                justify-content space-between
                align-items center
                .fuwuState
                    font-size .26rem
                .red
                    color #c11920
                .flex1
                    flex 1
                h3
                    font-size .3rem
                    color #444
            p
                font-size .26rem
                color #999
            .dic
                margin .15rem 0
        .icon
            color #999
